/SendMail.xml
/displaytag.properties
/edu/
/notification.properties
/struts.xml
/struts_courseware.xml
/struts_diagram.xml
/struts_eduadmin.xml
/struts_emailverify.xml
/struts_fileupload.xml
/struts_guestbook.xml
/struts_newsandnotice.xml
/struts_project.xml
/struts_register.xml
/struts_signup.xml
