
.news {
	width: 210px;
	height: 250px;
	overflow: visible;
	position: absolute;
	z-index: 2;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
}

.shortselect {
	margin-top:1px;
	background: #fafdfe;
	height: 28px;
	width: 158px;
	line-height: 28px;
	border: 1px solid #9bc0dd;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
