<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/aop 
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
         http://www.springframework.org/schema/tx 
     	 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!--基类-->
	<bean id="BasicDAO" class="basic.BasicDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- DAO -->
	<bean id="FileUploadDAO" class="edu.neu.nxist.continuingedu.fileupload.dao.FileUploadDAOImpl">
		<property name="basicDao" ref="BasicDAO" />
	</bean>

	<!-- service -->
	<bean id="FileUploadService" class="edu.neu.nxist.continuingedu.fileupload.service.FileUploadServiceImpl">
		<property name="fileUploadDao" ref="FileUploadDAO" />
	</bean>

	<!-- action -->
	<bean id="FileUploadAction" class="edu.neu.nxist.continuingedu.fileupload.action.FileUploadAction">
		<property name="fileUploadService" ref="FileUploadService" />
	</bean>
	<bean id="FileDownloadAction" class="edu.neu.nxist.continuingedu.fileupload.action.FileDownloadAction">
		<property name="fileUploadService" ref="FileUploadService" />
	</bean>
	<bean id="FileUploadActionForMgr" class="edu.neu.nxist.continuingedu.fileupload.action.FileUploadActionForMgr">
		<property name="fileUploadService" ref="FileUploadService" />
	</bean>
	<bean id="FileDownloadActionForMgr" class="edu.neu.nxist.continuingedu.fileupload.action.FileDownloadActionForMgr">
		<property name="fileUploadService" ref="FileUploadService" />
	</bean>
	<bean id="LoadFileCategory" class="edu.neu.nxist.continuingedu.fileupload.action.LoadFileCategory">
		<property name="fileUploadService" ref="FileUploadService" />
	</bean>
</beans>
