<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/aop 
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
         http://www.springframework.org/schema/tx 
     	 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!--基类-->
	<bean id="BasicDAO" class="edu.neu.nxist.continuingedu.basic.BasicDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- DAO -->
	<bean id="NewsAndNoticeDAO"
		class="edu.neu.nxist.continuingedu.newsandnotice.dao.NewsAndNoticeDAOImpl">
		<property name="myBasicDao" ref="BasicDAO" />
	</bean>

	<!-- service -->
	<bean id="NewsAndNoticeService"
		class="edu.neu.nxist.continuingedu.newsandnotice.service.NewsAndNoticeServiceImpl">
		<property name="newsAndNoticeDao" ref="NewsAndNoticeDAO" />
	</bean>

	<!-- action -->
	<bean id="NewsAndNoticeAction"
		class="edu.neu.nxist.continuingedu.newsandnotice.action.NewsAndNoticeAction">
		<property name="newsAndNoticeService" ref="NewsAndNoticeService" />
	</bean>
	<bean id="NewsAndNoticeActionForMgr"
		class="edu.neu.nxist.continuingedu.newsandnotice.action.NewsAndNoticeActionForMgr">
		<property name="newsAndNoticeService" ref="NewsAndNoticeService" />
	</bean>

	<bean id="LoadCategory"
		class="edu.neu.nxist.continuingedu.newsandnotice.ajax.LoadCategory">
		<property name="newsAndNoticeService" ref="NewsAndNoticeService" />
	</bean>

</beans>
